.section {
  background-color: #f4f6fa;
  margin-top: 3rem;
  padding: 2rem 0 0 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.section__container {
  width: 85%;
  margin: 0 auto;
}

.section__container_title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.9rem;
  color: #2e4765;
  width: 70%;
}

.section__container_description {
  font-size: 0.85rem;
  font-weight: 300;
  color: #2e4765;
  line-height: 1.3rem;
}

@media (min-width: 768px) {
  .section__container_title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    text-align: center;
    margin: 0 auto 2rem auto;
    width: 40%;
  }

  .section__container_description {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

@media (min-width: 1280px) {
  .section {
    height: 60vh;
    margin-top: 5rem;
  }

  .section__container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section__container_title {
    text-align: start;
    width: 30%;
    margin: 0 0 1.25rem 0;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .section__container_description {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 35%;
  }
}

@media (min-width: 1536px) {
  .section {
    height: 50vh;
    margin-top: 6rem;
  }

  .section__container_title {
    font-size: 3.25rem;
    line-height: 3.5rem;
    margin-bottom: 1.75rem;
  }

  .section__container_description {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 35%;
  }
}
