.benefits {
  background-color: #f4f6fa;
  border: 1px solid #f4f6fa;
}

.benefits__container {
  width: 85%;
  margin: 0 auto;
  margin-top: 1.75rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .benefits {
    background-color: inherit;
    border: 1px solid #fff;
  }

  .benefits__container {
    flex-direction: row;
    width: 72%;
    justify-content: center;
    padding: 3rem 0;
    margin-top: 0;
  }
}

@media (min-width: 1535px) {
  .benefits__container {
    padding: 4rem 0;
  }
}
