.contact {
  margin-top: 3rem;
}

.contact__line {
  color: #6c757d;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.contact__line span {
  margin-left: 0.5rem;
}

.contact__link {
  color: #4a50fd;
  font-weight: 600;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .contact__line {
    font-size: 1.2rem;
  }

  .contact__link {
    font-size: 1.1rem;
  }
}

@media (min-width: 1280px) {
  .contact {
    margin-top: 0;
    width: 50%;
    align-self: center;
  }
}
