.logocontainer {
  height: 100%;
  width: 11rem;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .logocontainer {
    width: 14rem;
  }
}

@media (min-width: 1536px) {
  .logocontainer {
    width: 18rem;
  }
}
